.menu {
  position: absolute;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--color-dark-gray);
  z-index: 2;

  > button {
    font-size: 4rem;
    background-color: var(--color-dark-gray);
    border: none;
    color: var(--color-philippine-gray);
  }

  > button:hover {
    color: var(--color-gold);
  }
}
