* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-philippine-gray: #8c8c8c;
  --color-dim-gray: #696969;
  --color-pastel-gray: #cfcfc5;
  --color-brass: #bea042;
  --color-gold: #b28d34;
  --color-sunburst: #a07a28;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
